<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nameOfDoctor</key>
	<array>
		<string>First Doctor</string>
		<string>Second Doctor</string>
		<string>Third Doctor</string>
		<string>Fourth Doctor</string>
		<string>Fifth Doctor</string>
		<string>Sixth Doctor</string>
		<string>Seventh Doctor</string>
		<string>Eighth Doctor</string>
		<string>War Doctor</string>
		<string>Ninth Doctor</string>
		<string>Tenth Doctor</string>
		<string>Eleventh Doctor</string>
		<string>Twelfth Doctor</string>
	</array>
	<key>faceOfDoctor</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
	</array>
	<key>rating</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>details</key>
	<array>
		<string>The First Doctor is the initial incarnation of the Doctor, the protagonist of the BBC science fiction television series Doctor Who. He was portrayed by the actor William Hartnell from 1963 to 1966. Hartnell reprised the role once, in the tenth anniversary story The Three Doctors (1973), although due to his ailing health the story was written so he would not have to appear very extensively. Within the series&apos; narrative, the Doctor is a centuries-old Time Lord alien from the planet Gallifrey who travels in time and space in his TARDIS, frequently with companions. When the Doctor is critically injured, he can regenerate his body; in doing so, his physical appearance and personality change.</string>
        <string>The Second Doctor is an incarnation of the Doctor. He was portrayed by character actor Patrick Troughton. The transformation into the Second Doctor (originally referred to as a "renewal"), a figure who was the same 'essential' character as the first but with a very different persona, was a turning point in the evolution of the series, and eventually became a critical element of the series' longevity.</string>
        <string>The Third Doctor is an incarnation of the Doctor. He was portrayed by actor Jon Pertwee. Pertwee portrays the third such incarnation, a dapper man of action of stark contrast to his wily but less action-oriented predecessors. While previous Doctors' stories had all involved time and space travel, for production reasons Pertwee's stories initially depicted the Doctor stranded on Earth, where he worked as a scientific advisor to the international military group UNIT. His adventures often fitted into the spy-fi genre which had been popularised by The Avengers the decade prior. Within the story, the Third Doctor came into existence as part of a punishment from his own race, the Time Lords, who forced him to regenerate and also disabled his TARDIS. Eventually, this restriction is lifted and the Third Doctor embarks on more traditional time travel and space exploration stories.</string>
        <string>The Fourth Doctor is an incarnation of the Doctor. He was portrayed by Tom Baker for seven consecutive seasons and remains the longest-lived incarnation of the Doctor in the show's on-screen history, counting both the classic and modern series. Further to this, he is considered to be the most recognisable and iconic incarnation of the Doctor both in the United Kingdom and internationally. Baker portrays the fourth such incarnation, a whimsical and sometimes brooding individual whose enormous personal warmth is at times tempered by his capacity for righteous anger.</string>
        <string>The Fifth Doctor is an incarnation of the Doctor. He is portrayed by Peter Davison. Davison portrays the fifth such incarnation, who has a vulnerable side and a tendency towards indecisiveness, dressed as a boyish Edwardian cricketer.</string>
        <string>The Sixth Doctor is an incarnation of the Doctor. He is portrayed by Colin Baker. Although his televisual time on the series was comparatively brief and turbulent, Baker has continued as the Sixth Doctor in Big Finish's range of original Doctor Who audio adventures. Baker portrays the sixth such incarnation, a flamboyant man in brightly coloured, mismatched clothes whose brash and overbearing personality set him apart from all his previous incarnations.</string>
        <string>The Seventh Doctor is an incarnation of the Doctor. He is portrayed by Scottish actor Sylvester McCoy. McCoy portrays the seventh such incarnation, a whimsical, thoughtful character who quickly becomes more layered, secretive, and manipulative.</string>
        <string>The Eighth Doctor is an incarnation of the Doctor. He is portrayed by Paul McGann. The character was introduced in the 1996 TV film Doctor Who, a back-door pilot produced in an unsuccessful attempt to relaunch the series following its 1989 cancellation. While the Eighth Doctor initially had only one on-screen appearance, his adventures were portrayed extensively in subsequent spin-off media, including more than 70 audio dramas starring McGann. In 2013, the actor reprised the role in the mini-episode "The Night of the Doctor", which depicts the Eighth Doctor's final adventure. McGann portrays the eighth such incarnation, a passionate, enthusiastic, and eccentric character.</string>
        <string>The War Doctor is an incarnation of the Doctor. He is portrayed by English actor John Hurt. The War Doctor, not so named within the episodes in which he appears, is introduced as the incarnation of the Doctor who fought in the Time War of the show's modern-day backstory. He was created as a result of a conscious decision of the Eighth Doctor, played by Paul McGann, to take up arms and become a warrior; in accepting this duty, the War Doctor disowned the title of "Doctor," and after the war's end is viewed with disdain by his subsequent incarnations, who reclaim the title that the character is known by. In the 50th anniversary special "The Day of the Doctor", however, the Eleventh Doctor played by Matt Smith revises his opinion of this incarnation after revisiting the final moments of the war.</string>
        <string>The Ninth Doctor is an incarnation of the Doctor. He is portrayed by Christopher Eccleston during the first series of the show's revival in 2005. The production team's approach to the character and Eccleston's portrayal were highlighted as being intentionally different from his predecessors, with Eccleston stating that his character would be less eccentric.</string>
        <string>The Tenth Doctor is an incarnation of the Doctor,  who is played by Scottish actor David Tennant in three series as well as nine specials. Tennant's portrayal of the Doctor is of an outwardly charismatic and charming adventurer whose likeable and easygoing attitude can quickly turn to righteous fury. </string>
        <string>The Eleventh Doctor is an incarnation of the Doctor. He is played by Matt Smith, in three series as well as seven specials, over an almost four-year-long period. Smith's incarnation is a quick-tempered but compassionate man whose youthful appearance is at odds with his more discerning and world-weary temperament.</string>
        <string>The Twelfth Doctor is an incarnation of the Doctor. He is portrayed by Scottish actor Peter Capaldi. Capaldi's portrayal of the Doctor is a spiky, brusque, contemplative, and pragmatic character who conceals his emotions in the course of making tough and sometimes ruthless decisions, this often leading him to question his character and the value of his travels.</string>
	</array>
</dict>
</plist>
