<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nameOfDoctor</key>
	<array>
		<string>First Doctor</string>
		<string>Second Doctor</string>
		<string>Third Doctor</string>
		<string>Fourth Doctor</string>
		<string>Fifth Doctor</string>
		<string>Sixth Doctor</string>
		<string>Seventh Doctor</string>
		<string>Eighth Doctor</string>
		<string>War Doctor</string>
		<string>Ninth Doctor</string>
		<string>Tenth Doctor</string>
		<string>Eleventh Doctor</string>
		<string>Twelfth Doctor</string>
	</array>
	<key>faceOfDoctor</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
	</array>
	<key>rating</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
